# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Excel一時ファイル
# ==========================
~$*

# ==========================
# 実験データ
# ==========================
labchart/
opti/

# ==========================
# 解析結果
# ==========================
result/

# ==========================
# Windows
# ==========================
Thumbs.db